<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612639536269-i108n7g5gt6epf029l8o260ku7aboo98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612639536269-i108n7g5gt6epf029l8o260ku7aboo98</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>612639536269-reb0kje4tpill94i7sv6113fkl0ool42.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnZfYWoxiutbJb7bUGLuIsz3ro_8HNT_U</string>
	<key>GCM_SENDER_ID</key>
	<string>612639536269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.module04</string>
	<key>PROJECT_ID</key>
	<string>diaryapp-d2ec9</string>
	<key>STORAGE_BUCKET</key>
	<string>diaryapp-d2ec9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612639536269:ios:70c62eba2dc151b4b69ec4</string>
	<key>DATABASE_URL</key>
	<string>https://diaryapp-d2ec9-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>